*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse-specific #
# ———————————————— #
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.settings/
.lodpath
.project
.classpath

# Studio-specific #
# ——————————————— #
/reports/
target/
.mule/**
.mule/**.*
.DS_Store
velocity.log
